@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



:root{
    --Nutmeg : hsl(14, 45%, 36%);
    --dark-raspbery : hsl(332, 51%, 32%);
    --white : hsl(0, 0%, 100%);
    --rose-white : hsl(330, 100%, 98%);
    --Eggshell : hsl(30, 54%, 90%);
    --light-grey : hsl(30, 18%, 87%);
    --wenge-brown : hsl(30, 10%, 34%);
    --dark-charcoal :  hsl(24, 5%, 18%);
    --title-font : "Young Serif", serif;

}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--wenge-brown);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: var(--Eggshell);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr{
    margin-top: 20px;
    margin-bottom: 25px;
    border-color : var(--light-grey);
}

li::marker{
    color: var(--Nutmeg);
}

p {
    font-weight: 300;
    color: var(--dark-charcoal);
}

.container-page-list{
    margin-top: 80px;
    background-color: var(--white);
    width: 550px;
    border-radius: 10px;
}

.cnt-text-ing{
    padding: 20px;
}

.cnt-image-ing{
    padding: 20px 20px 0px 20px;
}

.image-omlette{
    width: 100%;
    border-radius: 5px;
}

.title-recipe{
    font-size: 22px;
    margin: 10px 0px;
    font-family: var(--title-font);
    color: var(--dark-charcoal);
}

.cont-of-ing{
    background-color: var(--rose-white);
    border-radius: 10px;
    margin: 20px 0px;
    padding: 20px;
}

.title-prep{
    color: var(--dark-raspbery);
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 7px;
}



.list-ing{
    padding: 0px 15px;
}

.list-ing span {
    font-weight: 500;
}

.list-ing li{
    line-height: 24px;
    padding: 0px 15px;
}

.title-ingredients{
    color: var(--Nutmeg);
    font-weight: 600;
    font-family: var(--title-font);
    font-size: 22px;
    margin-bottom: 10px;
}

.olist-ingre{
    padding: 0px 15px;
}

.olist-ingre li{
    padding: 0px 15px;
    line-height: 22px;
}


.olist-ingre span{
    font-weight: 500;
    color: var(--wenge-brown);
}

.table-info{
    margin: 10px 0px;

}

.table-info li{
    list-style: none;
    display: flex;
    border-bottom: .5px solid var(--wenge-brown);
}

.table-info li:last-child {
    border-bottom: none;
}

.table-info li span{
    width: 50%;
    padding: 15px 10px;

}

.attribution{
    margin: 20px 0px;
}

@media only screen and (max-width: 425px) {
    .container-page-list{
        margin-top: 0px;
        width: auto;
        padding: 0px;
    }

    .cnt-text-ing{
        padding: 20px;
    }

    .cnt-image-ing{
        padding: 0px;
    }
}